.reset-password-container {
    height: 100vh;
    background-image: url('https://example.com/your-background-image.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .reset-password-form{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  .WrapperTextLight {
    color: rgb(13, 92, 182);
    font-size: 13px;
    cursor: pointer;
  }
